USE [AUG23]
GO
/****** Object:  Table [dbo].[EMPLOYEE3]    Script Date: 23-08-2023 12:29:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE3](
	[EMP_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMP_NAME] [varchar](22) NULL,
	[EMP_SALARY] [money] NULL,
	[EMP_AGE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EMP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EMPLOYEE3] ON 

INSERT [dbo].[EMPLOYEE3] ([EMP_ID], [EMP_NAME], [EMP_SALARY], [EMP_AGE]) VALUES (1, N'ROHAN NANDA', 34000.0000, 22)
INSERT [dbo].[EMPLOYEE3] ([EMP_ID], [EMP_NAME], [EMP_SALARY], [EMP_AGE]) VALUES (2, N'MANOJ VERMA', 46000.0000, 20)
INSERT [dbo].[EMPLOYEE3] ([EMP_ID], [EMP_NAME], [EMP_SALARY], [EMP_AGE]) VALUES (3, N'LALU YADAV', 20000.0000, 24)
SET IDENTITY_INSERT [dbo].[EMPLOYEE3] OFF
GO
